*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
/* banner styles */
.banner{
    background-image: url(../images/donation9.jpg);
    background-color: rgb(124, 190, 190);
    margin: 0;
    color: rgb(221, 202, 166);
    padding-top: 200px;
    padding-bottom: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
.banner-title{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}
.btn-primary{
    color: rgba(252, 241, 240, 0.993);
    font-weight: 400;
    font-size: 18px;
    border: 0;
    padding: 05px 15px;
    height: 50px;
    border-radius: 4px;
    background-color: tomato;
    display: block;
    margin: auto;
    }
.banner-description{
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}
